/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/


/* Add your custom styles here... */

.product-row .product-grid.btn-grey .plp_box_btn{
	color: #fff!important;
}
.product-row .product-grid.btn-grey .plp_box_btn:hover{
	color: #383838!important;
}

.searchModule {
    display: none;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 9;
    background: #00263a;
}
.button.contact-btn{
    text-transform: uppercase !important;
}
.headerNavSearch>.fl-col-content {
    display: flex;
    flex-direction: row;
}

.headerNavSearch>.fl-col-content .searchIcon {
    flex: 1;
}

.fa,
.fawesome,
.fab {
    font-family: FontAwesome !important;
}

.fl-page {
    width: auto;
    overflow: hidden;
}

.fl-page .fl-content-full.container {
    margin: 0;
    padding: 0;
    width: auto;
    max-width: none;
}

.container {
    width: 100%;
    max-width: 1250px;
}

.button {
    border: 1px solid;
}

a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    border-radius: 0 !important;
}


/* a.fl-button {
    border-radius: 0 !important;
    color: #fff !important;
    text-transform: uppercase;
} */


/* a.fl-button,
a.fl-button:visited,
.fl-builder-content a.fl-button {
    background-color: #0071b2!important;
    color: #ffffff !important;
    border: 1px solid #0071b2!important;
}

a.fl-button:hover,
.fl-builder-content a.fl-button:hover {
    background: #0071b2 !important;
    border: 1px solid #0071b2!important;
}

.fl-button-text {
    color: #fff !important;
} */

.btn-white a.fl-button,
.btn-white a.fl-button:visited,
.btn-white .fl-builder-content a.fl-button {
    background: #fff !important;
    color: #383838 !important;
    border: 1px solid #383838!important;
    font-weight: 700;
}

.btn-white a.fl-button:hover,
.btn-white .fl-builder-content a.fl-button:hover {
    background: #fff !important;
    color: #383838 !important;
    border: 1px solid #383838!important;
    font-weight: 700;
}

.btn-white .fl-button-text {
    color: #383838 !important
}

.max-1660 {
    max-width: 1660px;
    margin: 0 auto;
}

.navbar .nav .menu-item-has-children>a:after {
    content: "\f078";
    font-family: FontAwesome !important;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    vertical-align: top;
    margin: 2px 0 0 10px;
    font-weight: 400;
}

.navbar .nav .sub-menu .menu-item-has-children>a:after {
    content: "\f054";
    position: absolute;
    right: 15px;
    top: 50%;
    margin: 0;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.nav-phone {
    float: right;
    position: relative;
    order: 2;
    margin-left: 35px;
}

.fl-page-bar {
    border-bottom: 1px solid #e6e6e6;
    font-size: 12px;
    line-height: 14px;
    border-color: #00517c;
    background-color: #00263a;
    color: #fff;
}

.fl-page-bar-container {
    padding-bottom: 5px;
    padding-top: 5px;
}

.fl-page-bar * {
    color: #fff;
}

.fl-page-bar-text {
    padding: 5px 0;
    text-align: center;
}


/* Top Bar 1 */

.top-bar-1 {
    border-bottom: 1px solid #e7e7e7;
    text-align: left;
    padding: 10px 0 0 0;
    font-family: "Montserrat", sans-serif;
}

.top-bar-1 p {
    display: none;
}

.top-bar-1 a {
    color: #fff;
    font-size: 85%;
    font-weight: 300 !important;
}

.top-bar-1 a:hover,
.top-bar-1 a:active,
.top-bar-1 a:focus {
    text-decoration: none !important;
    color: #dedddd
}

.top-bar-1 ul {
    margin: 0 auto;
    padding: 0;
    text-align: left;
}

.top-bar-1 ul li {
    display: inline-block;
    list-style: none;
    padding: 0 30px 10px 30px;
}

.top-bar-link {
    text-align: center !important;
}

.top-bar-link a {
    color: #FF0000 !important;
    font-weight: 300 !important;
}

.white-link a {
    color: #fff !important;
}


/* Navagation 1 */

.nav-1 {
    margin: 0 auto;
}

.nav-1 .fl-page-nav .navbar-nav,
.fl-page-nav .navbar-nav a {
    font-weight: 700;
    font-size: 12px;
    text-align: left;
}

.nav-1 ul li {
    padding: 0 10px;
}

.nav-1 a {
    color: #2d2d2d;
}

.nav-1 a:hover,
.nav-1 a:active,
.nav-1 a:focus {
    text-decoration: none !important;
}

.nav-1 .fl-has-submenu-container {
    margin-bottom: 10px;
}

.fl-page-cart {
    position: relative;
    display: block;
    float: right;
    padding: 7px 25px;
    font-size: 1.5em;
}

.fl-page-nav-search a.fa-search {
    color: #2d2d2d;
    right: auto;
}

.fl-page-nav-search-wrap {
    position: relative;
    display: inline-block;
    text-align: right;
}


/* Nav 1 Mega Menu */

.fl-page-nav-wrap .navbar-nav>li>a {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu {
    border: none;
}

.fl-page-nav-wrap .navbar-nav>li>ul.sub-menu a {
    color: #2d2d2d !important;
}

.yawp_wim_title {
    display: none;
}

@media screen and (min-width: 992px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu {
        border: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 18.5%;
        float: left;
        border-color: white;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li a {
        padding: 5px;
        color: #2d2d2d !important;
        font-size: 90%;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li.menu-item-type-yawp_wim {
        width: 26%;
        margin-bottom: -95px;
        clear: right;
    }
}

@media screen and (max-width: 991px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu li>ul.sub-menu {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        display: none;
    }
    .fl-page-nav-right .fl-page-nav-cart {
        display: none;
    }
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 50%;
        display: block;
        float: left;
        border-color: transparent;
    }
}

@media (max-width: 1100px) {
    .fl-page-nav .navbar-nav li>a {
        padding-left: 5px;
        padding-right: 5px;
        font-size: 12px;
    }
}

@media (min-width: 992px) {
    .fl-page-nav-right .fl-page-nav ul.navbar-nav {
        float: none !important;
        margin-left: 20px;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu {
        /*         margin-left: -60%; */
        text-align: center;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li {
        border-bottom: 1px solid #EEEEEE;
    }
    ul.navbar-nav>li:not(.mega-menu)>ul.sub-menu>li:last-child {
        border: 0px;
    }
}

@media screen and (max-width: 768px) {
    ul.navbar-nav li.mega-menu>ul.sub-menu>li {
        width: 100%;
        float: none;
        display: block;
        border-color: #e6e6e6;
    }
    .facetwp-per-page select {
        width: 120px!important;
    }
	.fl-page-bar-row.row .col-sm-6 {
		width: 100% !important;
	}
	button#responsive-menu-button{
		    top: 80px !important;
	}
}


/* Search */

.fl-page-nav-right .fl-page-nav-search {
    float: right;
    position: relative;
}

.fl-page-nav-right .fl-page-nav-cart {
    float: right;
    position: relative;
    font-size: 20px;
    padding: 8px 15px 8px 60px;
}

.fl-page-nav-search form {
    background-color: #212121;
    border-top: 0px solid #a1c5e5;
    display: none;
    padding: 40px;
    position: absolute;
    right: 0px;
    top: 63px;
    width: 1040px;
    -moz-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1099px) {
    .fl-page-nav-search form {
        background-color: #767676;
        border-top: 0px solid #a1c5e5;
        display: none;
        padding: 40px;
        position: absolute;
        right: 0;
        top: 65px;
        width: 100%;
    }
}


/* Mega Menu ShortCode */

ul.navbar-nav li.mega-menu>ul.sub-menu>li>a {
    font-weight: 700 !important;
    color: #2d2d2d !important;
}

header .fl-row-content {
    position: relative;
}

@media(min-width:1024px) {
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::before {
        content: '';
        position: absolute;
        right: -5px;
        top: 50%;
        z-index: 1;
        display: block;
        width: 9px;
        height: 9px;
        margin: -5px 2px 0 0;
        border-right: 2px solid;
        border-bottom: 2px solid;
        -webkit-transform-origin: right bottom;
        -ms-transform-origin: right bottom;
        transform-origin: right bottom;
        -webkit-transform: translateX( -5px) rotate( 45deg);
        -ms-transform: translateX( -5px) rotate( 45deg);
        transform: translateX( -5px) rotate( 45deg);
        border-color: #2d2d2d;
    }
}

.sc_mega_menu .navbar-nav>li>a {
    padding: 36px 10px;
}

.sc_mega_menu ul.sub-menu li li a {
    margin: 0px;
}

.sc_mega_menu .fl-page-nav-wrap {
    border: 0px;
}

.textwidget a.acc_banner_link {
    padding: 0 !important;
}

@media(max-width:1024px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 8px;
    }
}

@media(max-width:900px) {
    .sc_mega_menu .navbar-nav>li>a {
        padding: 15px 0px;
    }
}


/* Mega Menu Full width */

@media (min-width: 768px) {
    ul.navbar-nav li.mega-menu ul.sub-menu {
        border-top: 0px solid #2d2d2d;
    }

    UL.navbar-nav LI.mega-menu>UL.sub-menu:after {
        content: "";
        display: block;
        position: absolute;
        left: auto;
        top: -1px;
        height: 100%;
        width: auto;
        transform: translateX(-50%);
        z-index: -1;
        box-sizing: border-box;
        border-top: 1px solid #2d2d2d;
        -moz-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        -webkit-box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.4);
        background-color: #fff;
    }
    .sc_mega_menu .mega-menu .sub-menu {
        left: 0px!important;
        position: relative;
    }
    .sc_mega_menu .navbar-nav>li.menu-item-has-children:hover::before {
        content: "▲";
        color: #fff;
        position: absolute;
        z-index: 1001;
        bottom: -5px;
        margin-left: 80%;
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.05);
        -webkit-transform: scale(1.5, 1);
        -moz-transform: scale(1.5, 1);
        -ms-transform: scale(1.5, 1);
        -o-transform: scale(1.5, 1);
        transform: scale(1.5, 1);
    }
    .sc_mega_menu .navbar-nav>li.mega-menu.menu-item-has-children:hover::before {
        text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
    }
    .sc_mega_menu .navbar-nav>li.menu-item-19634.menu-item-has-children:hover::before {
        margin-left: 8%;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(3) {
        border: 0px;
    }
    .sc_mega_menu ul.navbar-nav li.mega-menu>ul.sub-menu>li:nth-child(4) {
        margin-bottom: -55px;
        border: 0px;
        padding: 0 !important;
    }
    .sc_mega_menu ul.navbar-nav>li.menu-item-has-children>a::after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 50px;
    }
}

@media (max-width: 768px) {
    .header-boxed-1 .fl-slide-content-wrap {
        padding: 0px;
    }
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content{
        padding: 0 !important;
    }
}


/* home full bar */

@media(min-width:1500px) {
    .full-bar-lg .fl-module {
        margin-left: 25%;
    }
}


/* Web Forms */

.web-form input {
    border-radius: 0 !important;
}

.web-form .gform_body label {
    font-weight: 300 !important;
}

.web-form .gform_footer {
    text-align: center !important;
}

.web-form .button {
    padding: 10px 30px;
    color: #fff!important;
    border: none !important;
}

.web-form .gform_wrapper div.validation_error {
    color: #790000 !important;
}

.web-form .textarea {
    border-radius: 0 !important;
    max-height: 120px;
}

.web-form select {
    padding: 6px !important;
}

.web-form .ginput_container_time select {
    padding: 0 !important;
}

body .gform_wrapper .gform_body .gform_fields .gfield select {
    border: 1px solid #e6e6e6;
    background-color: #FCFCFC!important;
}

.ui-datepicker-title {
    color: #333;
}

.web-form button,
.web-form input[type=button],
.web-form input[type=submit] {
    border: 1px solid #383838 !important;
}

.web-form button:hover,
.web-form input[type=button]:hover,
.web-form input[type=submit]:hover {
    background: #ffffff !important;
    color: #383838 !important;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input,
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox],
.gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 2px !important;
    margin-right: 5px !important;
}

.default-form h1 {
    line-height: 1em;
    font-size: 3.3em !important;
}


/* Tabs 1 */

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.fl-tabs-panel-content .row {
    margin-left: -30px;
    margin-right: -30px;
    margin-top: -30px;
}

.fl-tabs-labels .fl-tabs-label {
    outline: none !important;
}


/* Tabs */

.tabs-2 .fl-tabs-panels {
    border-color: transparent !important;
}

.tabs-2 .fl-tabs-label {
    border-color: transparent !important;
    text-transform: uppercase;
    color: #DEDDDD;
    font-weight: 700;
}

.fl-tabs-label.fl-tab-active {
    border-color: transparent !important;
    color: #767676;
    font-weight: 700;
}

.tabs-2 .fl-tabs-labels {
    max-width: 82%;
    margin: 0 auto;
    text-align: center;
}

.tabs-3 .fl-tabs-label.fl-tab-active:after {
    content: '';
    width: 60%;
    position: absolute;
    left: 0;
    bottom: 1px;
    border-width: 0 0 1px;
    border-style: solid;
    margin: 0 auto;
    right: 0;
}

.tabs-3 .fl-tabs-label {
    max-width: 33%;
    margin: 0 auto;
    text-align: center;
}

.tabs-5 .fl-tabs-labels .fl-tabs-label {
    display: table;
    width: 20%;
    border-radius: 100%;
}

@media screen and (max-width: 768px) {
    .tabs-3 .fl-tabs-label {
        max-width: 100%;
        white-space: nowrap;
    }
    .tabs-5 .fl-tabs-labels .fl-tabs-label {
        display: table;
        width: 100%;
        border-radius: 100%;
    }
}


/*Project Gallery */

.project-gallery .fl-photo-caption-below {
    text-align: left !important;
}


/* Footer 1 */

.footer-1-top a:hover {
    text-decoration: none;
}

.footer-1-top h3.fl-heading {
    font-weight: 700!important;
    text-transform: uppercase;
}

.footer-1-top .fl-social-icons {
    text-align: center !important;
}

.footer-1-top .fl-social-icons a.fl-icon {
    margin: 0 10px;
}


/* Slider Menu */

.slider-menu {
    position: absolute;
    right: 0px;
    z-index: 100;
    top: 0px;
    height: 460px;
    overflow: hidden;
}

.slider-menu ul {
    background-color: white;
    vertical-align: middle;
    list-style: none;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    font-family: Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 65px;
    color: #2d2d2d;
    font-weight: bold;
    margin-right: -235px;
}

.slider-menu ul li {
    overflow: hidden;
    border: 1px solid #eee;
    border-width: 0px 0px 1px 0px;
    width: 300px;
}

.slider-menu .icon {
    float: left;
    font-size: 23px;
    width: 65px;
    text-align: center;
    border: 1px solid #eee;
    border-width: 0px 1px 0px 0px;
    cursor: pointer;
}

.slider-menu .padding {
    padding: 0px 15px;
    display: block;
}

.slider-menu a {
    color: #2d2d2d;
    float: left;
}

@media(max-width:768px) {
    .slider-menu {
        display: none;
    }
}


/* Popup */

.fr_popup {
    display: none;
}

.fr_popup .bg {
    position: fixed;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.fr_popup .content {
    position: absolute;
    z-index: 1001;
    width: 100%;
}

.fr_popup .content-inner {
    width: 628px;
    background-color: white;
    overflow: auto;
    margin: auto;
}

.fr_popup .content .row-item {
    padding: 30px 50px;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}

.fr_popup .content .row-item * {
    margin: 0px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* FL Photo */

.fl-photo .has_coupon .over {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
}

.fl-photo .has_coupon {
    cursor: default;
}

.fl-photo .has_coupon:hover .over {
    display: block;
}

.fl-photo .has_coupon .over-inner {
    display: table;
    height: 100%;
    width: 100%;
}

.fl-photo .has_coupon .over-inner2 {
    display: table-cell;
    vertical-align: middle;
}

.fl-photo .has_coupon .over .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    min-width: 140px;
    cursor: pointer;
}

.fl-photo .has_coupon .over .fl-button.white {
    border: 1px solid white;
    background-color: transparent;
}


/* TOGGLE BOX BOTTOM */

.fr_toggle_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
}

.fr_toggle_box .bg {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.fr_toggle_box .box_content {
    background-color: white;
    width: 100%;
    z-index: 1;
    position: fixed;
    bottom: 0px;
    display: none;
}

.fr_toggle_box .handle {
    background-color: #383838;
    padding: 20px 30px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: -66px;
    cursor: pointer;
}

.fr_toggle_box.active .handle i {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fr_toggle_box .box_content table {
    width: 70%;
    table-layout: fixed;
    margin: 0 auto;
}

.fr_toggle_box .padding {
    padding: 40px;
}

.fr_toggle_box .box {
    width: 100%;
    height: 100%;
    min-height: 275px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.fr_toggle_box .box_white {
    border: 0px solid #212121;
    color: #212121;
}

.fr_toggle_box .box_red {
    background-color: #C92830;
    color: white;
}

.fr_toggle_box .box * {
    color: inherit;
}

.fr_toggle_box td {
    padding: 0px 20px;
}

[data-fr-link] {
    cursor: pointer;
}

.fr_toggle_box .fixed_bottom {
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.fr_toggle_box .fl-button {
    background: #cc252a;
    font-size: 13px;
    line-height: 15px;
    padding: 10px 20px;
    color: white;
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    margin-bottom: 10px;
    cursor: pointer;
}

.fr_toggle_box .box_red .fl-button {
    background-color: white!important;
    color: #cc252a!important;
}

.fr_toggle_box .text {
    padding: 40px 0px 0px;
}

.fr_toggle_box .text * {
    margin-top: 0px;
    margin-bottom: 0px;
}

.fr_toggle_box .text h2 {
    font-size: 45px;
}

.fr_toggle_box .text p {
    margin-top: 10px;
}

@media(max-width:1024px) {
    .fr_toggle_box {
        display: none;
    }
}


/* FR Slider */

.fr-slider {
    position: relative;
}

.fr-slider .arrow {
    position: absolute;
    font-size: 30px;
    color: #212121;
    z-index: 2;
    height: 100%;
    text-align: center;
    width: 30px;
    float: left;
}

.fr-slider .arrow .fa {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.fr-slider .arrow.prev {
    left: 10px;
}

.fr-slider .arrow.next {
    right: 10px;
}

.fr-slider .slides {
    margin: 0px 40px;
}

.fr-slider .slide {
    padding: 0px 7px;
}

.slider-menu {
    display: none;
}


/* Product Detail Page CSS */

.toggle-image-holder {
    display: inline-block;
    vertical-align: top;
}

.product-detail-layout-2 .product-swatch,
.product-detail-layout-4 .product-swatch {
    margin: -200px 0 0;
}


/* Spotlights CSS */


/* Spotlight Layout 3 */

.spotlight-layout-3 .fl-col-group .fl-col:first-child .fl-col-content {
    position: relative;
}

.spotlight-layout-3 .fl-col-group .fl-col:first-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top left;
    transform: skew(8deg, 0deg);
    -webkit-transform: skew(8deg, 0deg);
    -moz-transform: skew(8deg, 0deg);
    -o-transform: skew(8deg, 0deg);
    -ms-transform: skew(8deg, 0deg);
}


/* Spotlight Layout 4 */

.spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content {
    position: relative;
}

.spotlight-layout-4 .fl-col-group .fl-col:last-child .fl-col-content:after {
    content: "";
    display: block;
    height: 100%;
    width: 100px;
    background: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform-origin: top left;
    transform: skew(-8deg, 0deg);
    -webkit-transform: skew(-8deg, 0deg);
    -moz-transform: skew(-8deg, 0deg);
    -o-transform: skew(-8deg, 0deg);
    -ms-transform: skew(-8deg, 0deg);
}


/* Spotlight Layout 5 */

.spotlight-layout-5 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-5 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-5 .fl-slide-text,
.spotlight-layout-5 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-5 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-5 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-5 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 6 */

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: right;
    text-align: left;
    width: 55%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-6 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-6 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-6 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-6 .fl-slide-text,
.spotlight-layout-6 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-6 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-6 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-6 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* Spotlight Layout 7 */

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-foreground {
    padding: 0 40px;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-content-wrap {
    float: left;
    text-align: left;
    width: 55%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap {
    float: left;
    padding: 20px;
    width: 45%;
}

.spotlight-layout-7 .fl-content-slider .fl-slide .fl-slide-photo-wrap .fl-slide-photo {
    margin: 0;
}

.spotlight-layout-7 .fl-content-slider .fl-slide-content {
    margin: 20px;
}

.spotlight-layout-7 .fl-slide-title {
    color: #767676;
    font-size: 24px;
}

.spotlight-layout-7 .fl-slide-text,
.spotlight-layout-7 .fl-slide-text>* {
    font-size: 14px;
    line-height: 28px;
}

.spotlight-layout-7 .fl-slide-cta-button {
    padding-top: 30px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button {
    padding: 10px 30px;
    font-size: 14px;
}

.spotlight-layout-7 .fl-slide-cta-button .fl-button:hover {
    border-color: #767676 !important;
}

.spotlight-layout-7 .fl-content-slider .fl-content-slider-navigation path {
    fill: #767676;
}


/* HP Products Boxes */

.hp-product-1 .njba-logo-carousel-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-2 .njba-logo-grid-main .njba-out-side .njba-logo-inner {
    border: none;
    background: none;
}

.hp-product-3 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    font-size: 13px;
    line-height: 24px;
}

.hp-product-4 .njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content {
    width: 50%;
    margin: 0;
    font-size: 13px;
    line-height: 24px;
    float: right;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tabs-label .njba-tab-label-inner {
    padding: 10px 20px;
}

.hp-product-4 .fl-module-njba-tabs .njba-tabs .njba-tab-title {
    /* font-weight: */
}

.hp-products-6 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-title {
    font-size: 18px;
    padding: 0;
}

.hp-products-7 .fl-callout .fl-callout-content {
    position: relative;
}

.hp-products-7 .fl-callout .fl-callout-content-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 0 15px;
}

.hp-products-7 .fl-callout .fl-callout-text {
    font-size: 90%;
}

.hp-product-7 .njba-tabs .njba-tab-title {
    text-transform: uppercase;
}

.hp-products-7 .njba-content:after {
    content: "";
    display: table;
    clear: both;
}

@media (min-width:769px) {
    .hp-product-7 .text-content {
        padding: 100px 0 100px 200px !important;
    }
    .hp-product-7 .text-img {
        padding: 100px !important;
    }
    .brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
        right: -50px;
        top: 50% !important;
    }
    .brands_slider .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
        left: -50px !important;
        right: auto !important;
        top: 50% !important;
    }
}

.hp-product-7 .njba-tabs.njba-tabs-style-7.njba-tab-section-main {
    display: flex;
    flex-direction: column-reverse;
}

.hp-product-7 .njba-tabs-labels {
    margin: 0 auto;
    width: auto;
}


/* Menu  */

.fl-page-nav-right .fl-page-header-container {
    padding: 10px 0;
    max-width: 1250px;
    width: 100%;
}

@media (max-width:1280px) {
    .fl-page-nav-right .fl-page-header-container {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.fl-tabs-label {
    color: #949494 !important;
}

.fl-tabs-label.fl-tab-active {
    color: #222222 !important;
}

.gform_wrapper .timeEstimate .gfield_time_hour i {
    width: 5px;
    font-weight: bolder;
    margin-top: -1px;
}

.fl-node-5be442c5366bc .fl-module-heading .fl-heading {
    text-align: left;
    font-size: 14px;
}

.broken_link,
a.broken_link {
    text-decoration: none!important;
}

.api-textbox,
.api-selectbox {
    width: 200px;
    padding: 4px 10px;
}

.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:hover,
.fl-page-nav-right .fl-page-nav-wrap .navbar-nav li>a:focus {
    cursor: pointer;
}

.fl-row-content-wrap {
    background-color: transparent;
}


/* CSS for the Plugin */

.njba-logo-inner {
    border: none!important;
}

h4 .njba-logo-title {
    height: 15.6px;
    width: 103px;
    color: #767676;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 15px;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next,
.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    top: -20px;
}

.bx-wrapper .bx-prev {
    right: 64px!important;
    left: auto!important;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: 35px;
}

#hp-product-2 h3.njba-logo-title {
    padding: 10px 17px 13px;
}

.njba-logo-grid-main .njba-logo-inner {
    margin-bottom: 50px;
}

.njba-tabs .njba-tab-label-inner,
.njba-tabs .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c544ed952e66 .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs .njba-tabs-panel-content,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav,
.njba-tabs.njba-tabs-style-7 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner,
.njba-tabs.njba-tabs-style-8 .njba-tabs-nav5c5444b331d1f .njba-tabs-label .njba-tab-label-inner {
    border: none!important;
}
.gform_wrapper li.hidden_label input{
    margin-top: 0 !important;
}
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, 
.gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox]{
    margin-top: 0 !important;
    margin-right: 1px !important;
}

.njba-tabs .njba-tab-title {
    font-weight: 700;
    padding-bottom: 5px;
}

.njba-tab-active .njba-tab-title {
    border-bottom: 3px solid #4A4A4A;
}

.njba-logo-inner {
    background: none;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button {
    padding: 10px 35px;
    border: 1px solid #6a6a6a;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 18px;
    text-decoration: none;
    text-shadow: none;
    background: #767676;
    margin: 10px 0 0;
}

.njba-tabs-panels .njba-tabs-panel .njba-tabs-panel-content .button:hover {
    background: #fff;
    border-color: #767676;
    color: #767676;
}


/* Coupon Banners CSS*/

.couponbanner1 .fl-cta-title,
.couponbanner2 .fl-cta-title,
.couponbanner3 .fl-cta-title {
    padding: 0;
}

.couponbanner1 .fl-cta-button .fl-button .couponbanner2 .fl-cta-button .fl-button,
.couponbanner3 .fl-cta-button .fl-button {
    display: inline-block;
}


/* Nav */

.nav-1 a.fl-callout-title-link.fl-callout-title-text {
    color: #DC515A;
    font-family: Roboto;
    font-size: 11px;
    letter-spacing: 0.37px;
    line-height: 13px;
}

.nav-1 .fl-module-content.fl-node-content,
.nav-1 .fl-module-content {
    padding: 5px 0px;
    margin: 0px;
}

.nav-1-menu .fl-menu a {
    font-size: 11px!important;
}

.nav-1-menu .menu a {
    padding-top: 0px!important;
}

.nav-1-logo .fl-photo-align-center {
    text-align: left;
}

.nav-1-logo .fl-photo-align-center img {
    width: 178px;
}

.custom-nav .fl-page-nav-search {
    position: absolute;
    right: auto;
    top: auto;
    left: auto;
}

.call-today {
    color: #767676;
    font-family: Roboto;
    font-size: 11px;
    line-height: 23px;
}

.nav-mobile {
    color: #767676;
    font-family: Montserrat;
    font-size: 28px;
    font-weight: bold;
    line-height: 36px;
}

.nav-small-cart-menu {
    text-align: right;
}

.nav-small-cart-menu ul {
    list-style: none;
    display: inline-flex;
    padding: 2px;
    text-align: right;
    color: #767676;
}

.nav-small-cart-menu ul li {
    padding: 0px 25px;
}

.nav-locations ul {
    list-style: none;
    display: flex;
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.nav-locations ul li {
    width: 20%;
    text-align: center;
}

.nav-locations ul li h3,
.nav-locations ul li span {
    color: #767676;
    margin: 0px;
    font-size: 16px;
}

.nav-address-container {
    text-align: center;
}

.nav-address-container .contactph {
    font-size: 28px;
    color: #767676;
}

.nav-address-container .contactph a,
.nav-address-container a {
    color: #767676;
}

.nav-address-container .socialicons .social-icons li a {
    opacity: 0.5;
}

.nav-address-container .socialicons .social-icons li a:hover {
    opacity: 1;
}

div.nav-cover-image {
    background: transparent;
}

.couponbanner1 .fl-button {
    display: inline-block;
    float: left;
}

.card_boxed_img .fl-button {
    margin-bottom: 20px;
}
.product-box .button-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.card_boxed_img .fl-cta-text-content {
    margin-top: 15px;
}

.card_boxed_img .fl-cta-text-content h3 {
    margin-top: 10px;
}

.wt_menu .current_page_item {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    opacity: 0.7;
}

footer .fl-heading .fl-heading-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: capitalize;
}

footer .footer-1-top .menu a {
    text-transform: uppercase;
    font-size: 12px;
    line-height: 1.5em;
}

.storename {
    list-style: none;
    display: block;
    padding: 0px;
    margin: 0px;
    text-align: justify;
}

.fl-button,
.products-list .button {
    background: #383838;
    color: #fff;
    border-color: #383838;
}

.fl-button:hover,
.products-list .button:hover {
    color: #383838;
    background: #fff;
}

.products-list .button {
    padding: 10px 20px;
    display: inline-block;
    margin-bottom: 10px;
    border: 1px solid #383838;
}

.fullWidthTab .njba-tabs-panel-content {
    padding: 0;
}

.wpmm-sticky.wpmm-sticky-wrap .wpmm-nav-wrap {
    width: 100%;
    max-width: 1440px;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_dropdown_menu.wpmm-social-link-search,
.wp-megamenu-wrap .wpmm-nav-wrap>ul {
    position: static !important;
}

.wp-megamenu-wrap {
    position: static;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li .wpmm-search-form {
    padding: 40px 100px;
    background: #ccc;
    right: 0;
    left: 0;
    top: calc(100% + 10px);
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li .wpmm-search-form input {
    transform: translateY(0)
}

.wpmm-sticky.wpmm-sticky-wrap {
    padding: 10px 0;
    background: #fff;
}

.uabb-new-ib {
    cursor: inherit;
}

.wp-megamenu-wrap .wpmm-nav-wrap>ul.wp-megamenu>li.wpmm_dropdown_menu>ul.wp-megamenu-sub-menu .megaMenu_sixCol_offer a {
    background: #00263a!important;
    color: #fff!important;
    font-weight: 700;
}

.product-variations img {
    max-height: 150px;
    width: auto;
    margin: 0 auto;
}

.product-variations small {
    text-align: center;
    display: block;
}

.active-gallery-modal .fl-row-content-wrap .product-box a.fl-button {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    margin: 0 auto;
}



/* Responsive Menu CSS */

#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.sixColumn_menu_childLinks,
#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.megaMenu_sixCol_offer,
#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.sixColumn_menu_wrapper>a,
#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.sixColumn_menu_wrapper>.responsive-menu-submenu>li>a>img,
.wp-megamenu-wrap a.wpmm_mobile_menu_btn {
    display: none !important;
}

#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.sixColumn_menu_wrapper>.responsive-menu-submenu {
    display: block;
}

#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.sixColumn_menu_wrapper>.responsive-menu-submenu>li>a {
    padding-left: 10%;
}

#responsive-menu-container #responsive-menu .sixColumn_menu>.responsive-menu-submenu>.sixColumn_menu_wrapper .responsive-menu-submenu.responsive-menu-submenu-depth-3>li>a {
    padding-left: 15%;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
    right: 0;
}

.njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
    right: 45px !important;
}

.njba-tabs .njba-tabs-panel-label {
    display: none;
    padding: 10px 40px 10px 10px;
    background: #efefef;
    border-bottom: 1px solid #ccc;
    position: relative;
    cursor: pointer;
}

.njba-tabs .njba-tabs-panel-label:after {
    content: "\f078";
    font: normal normal normal 14px/1 FontAwesome;
    display: block;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.njba-tabs .njba-tabs-panel-label.njba-tab-active:after {
    transform: translateY(-50%) rotate(180deg);
    -webkit-transform: translateY(-50%) rotate(180deg);
    -moz-transform: translateY(-50%) rotate(180deg);
    -o-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
}

.njba-tabs .njba-tabs-panel-label .njba-tab-title {
    border: 0;
}

@media (max-width:1299px) {
    .wp-megamenu-wrap .wpmm-nav-wrap>ul>li>a {
        padding: 15px 10px;
    }
}

@media (max-width:1240px) {
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group {
        padding-right: 7%;
        padding-left: 15px;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col:first-child {
        width: 30%;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col:last-child {
        width: 70%;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group .fl-module-rich-text p {
        margin: 0;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group .fl-module-rich-text .fl-module-content {
        margin: 0;
        text-align: right;
    }
    #djcustom-header .wpmm-sticky.wpmm-sticky-wrap {
        position: relative;
    }
}
@media (min-width:992px) and (max-width:1240px) {
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col:first-child {
        width: 30%;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col.headerNavSearch {
        width: 20%;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col:last-child {
        width: 50%;
    }
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col:last-child .phone{
        text-align: center;
    }
}

@media (max-width: 992px) {
    .location-top>.fl-row-content-wrap {
        padding-top: 120px;
    }
    .our-showroom-row .uabb-module-content {
        text-align: center;
    }
    .our-showroom-row .fl-module-njba-logo-grid-carousel .njba-logo-inner .njba-logo-image-responsive {
        max-height: 300px;
        max-width: 300px;
        display: block;
        margin: 0 auto;
    }
    .our-showroom-row .bx-wrapper {
        padding-top: 20px;
        margin: 0;
    }
}

@media (max-width: 820px) {
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group {
        display: flex;
        flex-wrap: wrap;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 25% !important;
        padding: 0 15px;
        max-width: none;
        float: left;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        width: 100% !important;
        order: -1;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: auto;
        border-bottom: 1px solid #fff;
        padding: 0;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content .fl-module .fl-icon {
        /* vertical-align: top; */
        padding-top: 5px;
    }
}

@media (max-width:768px) {
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group {
        padding-right: 10%;
        display: flex;
    }
    .uabb-creative-menu-mobile-toggle.hamburger{
        color: #fff !important;
    }
    .fl-col-small {
        max-width: 100%;
        padding: 0 15px;
    }
    #djcustom-footer .copyrights {
        text-align: center;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col:first-child {
        order: 3;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li {
        display: inline-block;
        border-left: 1px solid #848484;
        border-top: 0;
    }
    #djcustom-footer .copyrights .fl-row-content .fl-col-group>.fl-col .menu li:first-child {
        border-left: 0;
    }
    .cat-boxes .fl-col-group .fl-col .fl-col-content .fl-module-callout {
        text-align: center;
    }
    .cat-boxes .fl-col-group .fl-col .fl-col-content .fl-module-callout>.fl-module-content {
        display: inline-block;
        vertical-align: top;
    }
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 33.33%;
        float: left;
        clear: none !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: left !important;
    }
    .fl-callout .fl-callout-photo .fl-photo .fl-photo-content .fl-photo-img {
        width: 100%;
    }
    .form-box {
        padding: 0 30px;
    }
    .location-top>.fl-row-content-wrap {
        padding-top: 0px;
    }
    .facet_filters {
        z-index: 50;
    }
    .njba-tabs .njba-tabs-labels {
        display: none;
    }
    .njba-tabs .njba-tabs-panel-label {
        display: block;
    }
    #product-list-top-filters .fl-col-group .fl-col {
        width: 100% !important;
        text-align: center;
    }
    .open_sidebar,
    .facetwp-counts,
    .facetwp-per-page {
        text-align: center !important;
    }
    .facetwp-pager {
        float: none;
        margin-top: 10px;
    }
    .open_sidebar a {
        float: none;
    }
}

@media (max-width: 767px) {
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 48% !important;
        margin-bottom: 20px;
    }
    .cat-boxes .fl-module-info-banner .uabb-module-content .uabb-ultb3-img {
        width: 100% !important;
    }
    .fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-prev {
        left: 0 !important;
    }
    .fl-module-njba-logo-grid-carousel.arrow-default .njba-logo-carousel-main .bx-wrapper .bx-controls-direction a.bx-next {
        right: 0 !important;
    }
}

@media (max-width: 599px) {
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 48%;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(3n+1) {
        clear: none !important;
    }
    .facetwp-template .product-grid .product-row>.col-md-4:nth-child(2n+1) {
        clear: left !important;
    }
}

@media (max-width: 479px) {
    #djcustom-header .fl-row-content .fl-col>.fl-col-content>.fl-col-group>.fl-col:last-child {
        display: none;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col {
        width: 100% !important;
        border-bottom: 1px solid #fff;
        margin: 0 15px;
        padding-bottom: 15px;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child {
        border-bottom: 0;
    }
    #djcustom-footer .footer-1-top .fl-row-content .fl-col-group .fl-col:last-child>.fl-col-content {
        flex-direction: column;
    }
    #djcustom-footer .footer-1-top .ua-icon-phone-handset {
        font-size: 20px;
    }
    .facetwp-template .product-grid .product-row>.col-md-4 {
        width: 100%;
        clear: left !important;
    }
    .default-form h1 {
        font-size: 2.5em !important;
    }
}

#djcustom-header .headerNavSearch>.fl-col-content {
    flex-direction: row !important;
}

.store-opening-hrs {
    padding-left: 0px;
    list-style: none;
}

.product-detail-layout-5 .button-wrapper .button {
    width: 44% !important;
}
.btn-white a.fl-button, .btn-white a.fl-button{
	background:#383838 !important;
	color:#ffffff !important;
}
.btn-white .fl-button-text{
	color:#ffffff !important;
} 
.btn-white a.fl-button, .btn-white a.fl-button:hover span{
	color:#383838 !important;
}
.loc-foPh .fl-icon-wrap .fl-icon {
    vertical-align: bottom;
}


